.main-div {

  .offline {
    border: 2px solid red;
  }

  mat-card {
    display: block;
    margin-bottom: 3%;
    margin-right: 3%;

    mat-card-content {
      .circle {
        position: relative;
        width: 10%;
        height: 0;
        padding: 5% 0;
        margin: 1em auto;
        border-radius: 50%;
      }
      .disabled {
        background-size: cover;
        background-color: red;
      }
      .enabled {
        background-size: cover;
        background-color: green;
      }
      h1.temperature-text {
        font-size: 300%;
      }
    }
  }
}
