<h1 mat-dialog-title>Оновлення системи "Smart Home"</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="row col-md-12">
        <h4 class="col-md-12">Поточна версія:</h4>
        <div class="row col-md-12">
          <span class="col-md-12">
            OS ver: {{data.currentVersion.androidThingsVersion}}
          </span>
          <span class="col-md-12">
            Build ver: {{data.currentVersion.buildId}}
          </span>
        </div>
      </div>
      <div class="row col-md-12" *ngIf="isNewVersionInformationVisible()">
        <h4 class="col-md-12">Нова версія:</h4>
        <div class="row col-md-12">
          <span class="col-md-12">
            New OS ver: {{data.newVersion.versionInfo.androidThingsVersion}}
          </span>
          <span class="col-md-12">
            New build ver: {{data.newVersion.versionInfo.buildId}}
          </span>
        </div>
      </div>
      <div class="col-md-12" *ngIf="data.updateStatus == UpdateStatus.UPDATE_CHECKING">
        <span>Шукаємо оновлення...</span>
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
      <div class="col-md-12" *ngIf="data.updateStatus == UpdateStatus.UPDATE_DOWNLOADING">
        <span>Завантаження оновлення...</span>
        <mat-progress-bar  mode="determinate" [value]="data.newVersion.downloadProgress * 100"></mat-progress-bar>
      </div>
      <div class="col-md-12" *ngIf="data.updateStatus == UpdateStatus.UPDATE_FINALIZING">
        <span>Завершення оновлення...</span>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button *ngIf="data.updateStatus == UpdateStatus.UPDATE_IDLE"
          mat-button (click)="checkUpdate()">Перевірити</button>
  <button *ngIf="data.updateStatus == UpdateStatus.UPDATE_AVAILABLE"
          mat-button (click)="applyUpdate()">Оновити</button>
  <button *ngIf="data.updateStatus == UpdateStatus.UPDATE_NEEDS_REBOOT"
          mat-button (click)="applyAndReboot()">Перезавантажити</button>
  <button mat-button (click)="close()" color="warn">Зачинити</button>
</div>
