/* You can add global styles to this file, and also import other style files */
@import "styles-variables";

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-grid';

@import "styles-reset";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-color: #FAFAFA;

  .basic-container {
    padding: 30px;
  }
}
