<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" color="primary">
    <mat-toolbar color="primary">
      <span>Smart Home</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/light-board" (click)="openLight()" routerLinkActive="active">
        <mat-icon>emoji_objects</mat-icon>
        <span>Світло</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/warm-floor-board" (click)="openWarmFloor()" routerLinkActive="active">
        <mat-icon>waves</mat-icon>
        <span>Тепла підлога</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/extension-board" (click)="openExtension()" routerLinkActive="active">
        <mat-icon>extension</mat-icon>
        <span>Розширювачі</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="openUpdateDialog()">
        <mat-icon matBadge="!" matBadgeColor="warn" matBadgePosition="before" [matBadgeHidden]="!updateBadgeVisible">
          system_update
        </mat-icon>
        <span>Оновлення</span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="basic-container content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
