<div class="main-div">
  <div class="row">
    <div *ngFor="let item of data; let i = index" class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <mat-card>
        <div class="row">
          <mat-card-title class="col col-lg-11">
            <span>{{item.label}}</span>
          </mat-card-title>
          <button class="col-md-1 col-lg" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>
              <mat-icon>mode_edit</mat-icon>
              <span>Змінити</span>
            </button>
            <button mat-menu-item (click)="onDeleteClick(item.uid, i)">
              <mat-icon>delete</mat-icon>
              <span>Видалити</span>
            </button>
          </mat-menu>
        </div>
        <mat-card-content>
          <div mat-card-avatar [class.disabled]="!item.state" [class.enabled]="item.state"></div>
<!--          <span *ngIf="item.state">Увімкненно</span>-->
<!--          <span *ngIf="!item.state">Вимкненно</span>-->
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button (click)="changeState(item.uid)">Вимикач</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <app-fab-button (onClick)="openDialog()" [icon]="fabIcon"></app-fab-button>
</div>
